@model HomeVm
@{
    ViewData["Title"] = "Home Page";
}

@section BannerSection {
    <banner title="Welcome to my restaurants" intro="Very very nice website"></banner>
}

<div class="container">
    <div class="row">
        <div class="col-3">

            @*            <ul class="list-group">
                @foreach (var c in Model.Cuisines)
                {
                    <li class="list-group-item">
                        <a asp-controller="Home" asp-action="Index" asp-route-cuisine="@c.CuisineCode">@c.DisplayName</a>
                    </li>
                }
            </ul>*@

            <div>
                @await Component.InvokeAsync("CuisineFilter")
            </div>
        </div>
        <div class="col-9">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var restaurant in Model.RestaurantList) {
                        <div class="col-6">
                            <div class="card ">
                                <img src="@restaurant.WebImageUrl" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">@restaurant.Name @restaurant.CountOfReviews</h5>
                                    <rating-stars rating="@restaurant.AverageRating"></rating-stars>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                                    <div class="text-end">
                                        <a asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.RestaurantId" class="btn btn-primary">Restaurant Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


